
<div class="reset-password-wrapper h-100vh">
    <div class="row reset-password-container">
        <div class="col">
            <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="" class="fz-12px m-0">Password : </label>
                            <input class="form-control form-control-sm" type="password" formControlName="password" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="" class="fz-12px m-0">Confirm Password : </label>
                            <input class="form-control form-control-sm" type="password" formControlName="confirmPassword" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <input class="btn btn-primary btn-sm" type="submit" value="Create password">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
