.options-icon {
  border-radius: 10px;
}

.options-wrapper {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.message-item {
  border-radius: 8px;
  padding: 0.6rem;
  margin: 8px;
  color: black;
  p {
    margin: 0rem;
  }
}

.btn-reset {
  background-color: transparent;
  border: none;
  outline: none;

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
  }
}

.message-time {
  color: #00000073;
}
