/* You can add global styles to this file, and also import other style files */
.h-100vh {
    height: 100vh;
}
button, input, textarea {
    &.ng-invalid.ng-touched {
        color: #495057;
        background-color: #fff;
        border-color: #ff8080;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgb(255 0 0 / 25%);
    }
}
.ng-invalid-error {
    color: red;
    font-size: 12px;
}
.fz-12px {
    font-size: 12px;
}
